<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>JS Playground</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="assets/css/build/app_bundle.min.css"/>
    <script src="Assets/js/build/app_bundle.min.js" type="text/javascript"></script>
    <script src="Assets/js/angular_apps/demo/ng-demo2.js" type="text/javascript"></script>
</head>
<body>
<div class="container" id="main-page">
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">ToDo Master 9001</a>
            <div class="nav-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">Home</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="alert">
        Because <a target="_blank" href="http://www.youtube.com/watch?v=nbgdMbsUxGI">It's</a>... <a target="_blank" href="http://www.youtube.com/watch?v=LWDfT_ZMbCg">Over</a>... <a target="_blank" href="http://www.youtube.com/watch?feature=player_detailpage&v=LHqEwIadhO8&t=25">9000!!!</a>
    </div>
    <div class="row">
        <div class="col-12">
            <div ng-app="todoListDemo2">
                <div ng-controller="todoListCtrl" ng-init="loadTodos()">
                    <input type="text" name="myinput" ng-model="someScopeVar"/>

                    <ul>
                        <li ng-repeat="todo in todoList">{{todo.Title}}</li>
                    </ul>

                    <button name="somebutton" ng-click="alertValue()">Click to Alert</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" type="text/javascript"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js" type="text/javascript"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/additional-methods.min.js" type="text/javascript"></script>

</body>
</html>
